PORT={{ nunet_cardano_access_port }}
CARDANO_CLI_PATH={{ nunet_cardano_access_cli_path }}
PREPROD_SOCKET_PATH={{ nunet_cardano_access_preprod_socket_path }}
MAINNET_SOCKET_PATH={{ nunet_cardano_access_mainnet_socket_path }}