[Unit]
Description=NuNet's Cardano Access Server
Documentation=https://gitlab.com/nunet/tokenomics-api/nunet-cardano-access
Wants             = network-online.target
After             = network-online.target

[Service]
Type=simple
ExecStart={{ nunet_cardano_access_install_path }}/nunet-cardano-access
WorkingDirectory  = {{ nunet_cardano_access_install_path }}
Restart=on-failure
RestartSec=5s
TimeoutStopSec    = 300
SyslogIdentifier  = nunet-cardano-access

[Install]
WantedBy=multi-user.target